img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

@mixin pad {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin pad2 {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 414px) {
    @content;
  }
}
